


.modal-blog {
    border: 1px solid #000;
    padding: 20px;
    background-color: white;
    position: fixed;
    
    left: 50%;
    top: 50%;
    width: 98%;
    height: 98%;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
    
}

.hidden-blog{
    display: none;
}

.boton-cerrar-blog{
position: absolute;
top: 10px;
left: 10px;
padding: 10px;
max-width: 46px;
}

.boton-cerrar-blog:hover{
background-color: rgba(128, 128, 128, 0.219);;
border-radius: 50px;
cursor: pointer;
}



section {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}


.nuevo-post input,
.nuevo-post textarea,
.nuevo-post button {
padding: 10px; 
font-size: 16px; 
}
label
{
text-align: left;
}

#urltitle
{
max-width: 25%;
min-width: 40%;
}


#title
{
max-width: 25%;
min-width: 40%;
}

.text-ingredientes
{
max-width: 25%;
min-width: 40%;  
}

.text-receta
{
min-height: 50%;
max-height: 50%;
}




