@charset "utf-8";
/* CSS Document */

*
{
padding:0;
margin:0;	
box-sizing:border-box;
list-style:none;
text-decoration:none;
	
}

body
{
	background-image:url(../imagenes/obraDeArte.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position:left;
	height:100vh;
    
}
.encabezado p
{
font-size: 100px;
color: aliceblue;
text-align: center;
padding-top: 25%;
}

header
{

/*text-align:center;*/
align-items:center;
}
.menu
{
text-align:center;
width:100%;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
padding:5px;
}
a
{
color:rgba(255,255,255,1);
}
div.info_link p
{
background:rgba(204,204,204,1);
color:rgba(0,0,0,1);
width:100px;
border-radius:10px;
position:absolute;
top:44px;
}
#buscar
{
background:transparent;
outline:none;
vertical-align:middle;
border:none;
width:80%;
text-align:center;
color:white;
}
.input
{
border-bottom:2px solid white;
border-radius:10px;

}
.Menu_hamburguesa
{
position:absolute;
display:none;
background-color: white;
height:100vh;
width:100%;
z-index:3;
top:0px;
}
.Menu_hamburguesa li
{
color:black;
width:50%;
font-size: 50px;
display:flex;
flex-direction:row;
align-items:center;
padding: 30px;
}
.Menu_hamburguesa li p a
{
padding: 30px;
color:black;
font-weight: bold;
}


@media screen and (min-width:760px)
{

	
.menu
{
padding:5px 44px;
}	

.Menu_hamburguesa
{
position:absolute;
display:none;
background-color: white;
height:50vh;
width:100%;
z-index:3;
top:0px;
}



}