@charset "utf-8";
/* CSS Document */

*
{
padding:0;
margin:0;	
box-sizing:border-box;
list-style:none;
text-decoration:none;
}

.menu
{
position: fixed;
z-index: 3;
width: 100%;
top:0px;
}

.menu li
{
position: absolute;
display: inline-block;
font-size: 50px;
color: aliceblue;
text-align: left;
}
.hamburguesa
{
left:0px;
padding-left: 5px;
}
.hamburguesa{
cursor: pointer;    
}
.blog
{
padding-top: 20px;
padding-right: 10px;
right: 0px;;    
}
.blog:hover
{
cursor: pointer;

}







